[data-theme="dark-theme"] {

    // Основной фон
    --background-color: #000000;

    // Фон для основных элементов
    --secondary-background-color: #191c24;

    // Фон для основных элементов
    --alternate-background-color: #0f1015;

    // Фон для активных элементов (например активная ссылка)
    --active-background-color: #0f1015;

    // Основной текст
    --text-color: #ffffff;

    // Основной текст
    --text-color-disabled: #454a5e;

    // Секундарный текст
    --secondary-text: #d3d3d3;

    // Акцентный цвет
    --accent-color: #3498db;

    // Цвет для подчёркивания
    --link-underline-color: #3498db;

    // Цвет для выделения
    --highlight-color: #4CAF50;

    // Менюшки
    --sidebar-background-color: #191c24;
    --sidebar-text-color: #ffffff;
    --sidebar-text-color-disabled: #454a5e;
    --sidebar-active-link-background-color: #0f1015;
    --sidebar-active-link-text-color: #fff;
    --sidebar-active-link-icon-color: var(--accent-color);
    --sidebar-active-link-border-color: var(--accent-color);
}
