[data-theme="light-theme"] {

    // Основной фон
    --background-color: #f1f1f1;

    // Фон для основных элементов
    --secondary-background-color: #fff;

    // Фон для основных элементов
    --alternate-background-color: #ccc;

    // Фон для активных элементов (например активная ссылка)
    --active-background-color: #3498db;

    // Основной текст
    --text-color: #000;

    // Основной текст
    --text-color-disabled: #666;

    // Секундарный текст
    --secondary-text: #d3d3d3;

    // Акцентный цвет
    --accent-color: #3498db;

    // Цвет для подчёркивания
    --link-underline-color: #3498db;

    // Цвет для выделения
    --highlight-color: #4CAF50;

    // Менюшки
    --sidebar-background-color: #fff;
    --sidebar-text-color: #6c7293;
    --sidebar-text-color-disabled: #666;
    --sidebar-active-link-background-color: var(--accent-color);
    --sidebar-active-link-text-color: #fff;
    --sidebar-active-link-icon-color: #fff;
    --sidebar-active-link-border-color: var(--accent-color);
}
