@charset "UTF-8";

// themes
@import "./variables";
@import "./dark-theme/variables";

:root {
    // navbars
    --top-navbar-max-height: 60px;
    --left-navbar-max-width: 265px;
    --default-padding: 15px;
}

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100vh;
    background-color: var(--background-color);
    display: flex;
    transition: background-color .2s;
    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        background-color: var(--accent-color);
    }
}



#app {
    width: 100%;
}

a {
    text-decoration: none;
}

input,
textarea,
button,
form {
    outline: none;
    box-shadow: none;
    border: none;
    background-color: transparent;
}


/* Форматирование JSON */
.json {
    white-space: pre;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 14px;
    line-height: 1.5;
    padding: 15px;
    background-color: var(--secondary-background-color);
    border-radius: 12px;
    color: var(--text-color);
}

/* Стили для объектов */

.json .object {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0.5em;
}

.json .object .key {
    font-weight: bold;
    color: #888;
}

.json .object .value {
    margin-left: 0.5em;
}

/* Стили для массивов */

.json .array {
    margin-bottom: 0.5em;
}

.json .array .item {
    margin-left: 0.5em;
}

/* Стили для строк */

.json .string {
    color: #008000;
}

/* Стили для чисел */

.json .number {
    color: #990000;
}

/* Стили для логических значений */

.json .boolean {
    color: #ff0000;
}

/* Стили для null */

.json .null {
    color: #bbb;
}
