<template>
    <top-navbar />
    <left-navbar />
    <main :class="{
        menuHidden: sidebarIsClose,
    }">
        <router-view></router-view>
    </main>
</template>
<script>
import LeftNavbar from "./global/LeftNavbar.vue";
import TopNavbar from "./global/TopNavbar.vue";
import {mapGetters} from "vuex";

export default {
    components: {
        TopNavbar,
        LeftNavbar
    },
    computed: {
        ...mapGetters({
            isDarkTheme: 'isDarkTheme',
            sidebarIsClose: 'sidebarIsClose',
        }),
    },
    created() {
        this.isDarkTheme ? document.body.setAttribute('data-theme', 'dark-theme') : document.body.setAttribute('data-theme', 'light-theme');
    }
}
</script>
<style lang="scss" scoped>
main {
    flex: 1;
    background-color: var(--background-color);
    min-height: 300vh;
    transition: background-color .2s, width .2s, margin-left .2s;
    margin-top: 64px;
    padding: 15px;

    @media (min-width: 768px) {
        width: calc(100% - 280px);
        height: 100%;
        margin-left: 250px;

        &.menuHidden {
            width: calc(100% - 95px);
            margin-left: 65px;
        }
    }
    .test {
        width: 400px;
        height: 400px;
        background-color: #191c24;
        margin: 50px;
    }
}
</style>
