<template>
    <pre class="json">
        {{ develop }}
    </pre>
</template>
<script>
export default {
    name: 'EventsPage',
    data() {
        return {
            eventsList: {},
        }
    },
    computed: {
        develop() {
            if(this.eventsList && this.eventsList.gameEvent) {
                return this.eventsList.gameEvent;
            }

            return  {};
        }
    },
    methods: {
        getData() {
            this.$axios.get('/events')
                .then((response) => {
                    this.eventsList = response.data;
                    console.log(response);
                }).catch(() => {});
        }
    },
    mounted() {
        this.getData();
    }
}
</script>
<style lang="scss" scoped>
pre {
    display: flex;
    max-width: 100%;
    overflow-x: auto;
}
</style>
