<template>
    <pre class="json">
        {{ localizationsList }}
    </pre>
</template>
<script>
export default {
    name: 'EventsPage',
    data() {
        return {
            localizationsList: {},
        }
    },
    computed: {
    },
    methods: {
        getData() {
            this.$axios.get('/developers/localization/list')
                .then((response) => {
                    this.localizationsList = response.data;
                }).catch(() => {});
        },
    },
    mounted() {
        this.getData();
    }
}
</script>
<style lang="scss" scoped>
pre {
    display: flex;
    max-width: 100%;
    overflow-x: auto;
}
</style>
