<template>
    <pre class="json">
        {{ content }}
    </pre>
</template>
<script>
export default {
    name: 'JsonFormatter',
    props: {
        content: {
            type: Object,
            required: true,
        }
    },
    methods: {
        getSlotContent() {
            console.log(JSON.stringify(this.content, null, 2));
        }
    },
    mounted() {
        this.getSlotContent()
    }
}
</script>
<style lang="scss" scoped>

</style>
