<template>
    <nav :class="{
        hidden: sidebarIsClose,
    }">
        <div class="link-box">
            <router-link
                :to="{
                    name: 'Home'
                }"
                class="link"
                title="Главная"
            >
                <home-icon
                    class="icon"
                />
                <span class="link-text">Главная</span>
            </router-link>
            <router-link
                :to="{
                    name: 'Events'
                }"
                class="link"
                title="События"
            >
                <events-icon
                    class="icon"
                />
                <span class="link-text">События</span>
            </router-link>
            <router-link
                :to="{
                    name: 'Localizations'
                }"
                class="link"
                title="Локализации"
            >
                <language-icon
                    class="icon"
                />
                <span class="link-text">Локализации</span>
            </router-link>
            <button @click="toggleDarkTheme" class="link" :title="isDarkTheme ? 'Светлая тема' : 'Тёмная тема'">
                <moon-icon
                    v-if="isDarkTheme"
                    class="icon-moon"
                />
                <sun-icon
                    v-else
                    class="icon-sun"
                />
                <span class="link-text" v-if="isDarkTheme">Светлая тема</span>
                <span class="link-text" v-else>Тёмная тема</span>
            </button>
            <div class="development-info">
                <span>в разработке</span>
                <div class="link disable">
                    <news-icon
                        class="icon"
                    />
                    <span class="link-text">Новости</span>
                </div>
                <div class="link disable">
                    <unit-icon
                        class="icon"
                    />
                    <span class="link-text">Юниты</span>
                </div>
                <div class="link disable">
                    <cog-icon
                        class="icon"
                    />
                    <span class="link-text">Настройки</span>
                </div>
            </div>
        </div>
        <div class="developer-info">
            <span>Rugoh Community</span>
            <button
                type="button"
                @click="toggleMenu"
                class="toggle-btn"
            >
                <arrow-right-icon
                    v-if="sidebarIsClose"
                    class="icon"
                />
                <arrow-left-icon
                    v-else
                    class="icon"
                />
            </button>
        </div>
    </nav>
</template>
<script>
import HomeIcon from "vue-material-design-icons/Home.vue"
import CogIcon from "vue-material-design-icons/Cog.vue"
import UnitIcon from "vue-material-design-icons/Account.vue"
import NewsIcon from "vue-material-design-icons/Newspaper.vue"
import ArrowRightIcon from "vue-material-design-icons/ChevronRight.vue"
import ArrowLeftIcon from "vue-material-design-icons/ChevronLeft.vue"
import {mapGetters} from "vuex";
import { sidebarIsClose } from "../../vuex/actions.js";
import SunIcon from "vue-material-design-icons/WeatherSunny.vue";
import MoonIcon from "vue-material-design-icons/MoonWaxingCrescent.vue";
import EventsIcon from "vue-material-design-icons/Calendar.vue";
import LanguageIcon from "vue-material-design-icons/Text.vue";

export default {
    components: {
        MoonIcon, SunIcon,
        HomeIcon,
        CogIcon,
        UnitIcon,
        NewsIcon,
        ArrowRightIcon,
        ArrowLeftIcon,
        EventsIcon,
        LanguageIcon,
    },
    data() {
        return {}
    },
    computed: {
        ...mapGetters({
            isDarkTheme: 'isDarkTheme',
            sidebarIsClose: 'sidebarIsClose',
        }),
    },
    methods: {
        toggleMenu() {
            this.$store.dispatch('sidebarIsClose', this.sidebarIsClose = !this.sidebarIsClose);
        },
        toggleDarkTheme() {
            // Когда тем будет больше, раскоментить и доделать кнопку
            // let currentValue = document.body.getAttribute('theme');
            // let themeMap = {
            //     light: 'light-theme',
            //     dark: 'dark-theme',
            // };
            //
            // themeMap[currentValue] ? document.body.setAttribute('theme', themeMap[currentValue]) : document.body.setAttribute('theme', 'light-theme');

            // Временный вариант с 2 темами
            this.$store.dispatch('isDarkTheme', this.isDarkTheme = !this.isDarkTheme);
            this.isDarkTheme ? document.body.setAttribute('data-theme', 'dark-theme') : document.body.setAttribute('data-theme', 'light-theme');
        }
    }
}
</script>
<style lang="scss" scoped>
nav {
    background-color: var(--sidebar-background-color);
    padding: 25px 0 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    flex: 1;
    transition: background-color .2s, width .2s, height .2s;
    box-shadow: 0 7px 1px rgba(0,0,0,.5), 0 7px 3px rgba(0,0,0,.3), 0 7px 5px rgba(0,0,0,.1);

    &::-webkit-scrollbar {
        width: 3px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 3px;
        background-color: var(--accent-color);
    }

    @media (min-width: 768px) {
        padding: 0 15px 0 0;
        top: var(--top-navbar-max-height);
        width: calc(var(--left-navbar-max-width) - calc(var(--default-padding) * 2));
        max-height: calc(100% - var(--top-navbar-max-height));
    }

    .link-box {
        display: flex;
        flex-direction: column;
        gap: 5px;
        flex: 1;
        padding-bottom: 50px;
    }

    .development-info {
        padding: 15px 0;
        margin-top: 100px;
        text-align: center;
        border-top: 1px dashed #6c7293;
        color: var(--sidebar-text-color);
        font-size: 14px;

        & > span {
            display: block;
            margin-bottom: 20px;
        }
    }

    .developer-info {
        position: sticky;
        bottom: 0;
        background-color: var(--sidebar-background-color);
        transition: background-color .2s;
        padding: 5px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px;

        @media (min-width: 768px) {
            margin-right: -15px;
        }

        span {
            display: block;
            font-size: 12px;
            color: var(--sidebar-text-color);
            text-align: center;
        }

        .toggle-btn {
            padding: 5px;
            cursor: pointer;
            border-radius: 4px;
            transition: background-color .2s;

            & > span {
                transition: color .2s;
            }

            &:hover {
                background-color: var(--sidebar-active-link-background-color);

                & > span {
                    color: var(--sidebar-active-link-text-color);
                }
            }
        }
    }

    .link {
        padding: 15px;
        display: flex;
        align-items: center;
        gap: 25px;
        color: var(--sidebar-text-color);
        background-color: transparent;
        cursor: pointer;
        user-select: none;
        border-left: 5px solid transparent;

        @media (min-width: 768px) {
            padding: 15px 25px 15px 15px;
            border-radius: 0 100px 100px 0;
        }

        &.disable {
            color: var(--sidebar-text-color-disabled);
            cursor: not-allowed;
        }

        &:hover:not(.disable),
        &.router-link-exact-active:not(.disable) {
            background-color: var(--sidebar-active-link-background-color);
            color: var(--sidebar-active-link-text-color);
            border-color: var(--sidebar-active-link-border-color);


            &:not(.disable) .icon {
                color: var(--sidebar-active-link-icon-color);
            }

        }
    }

    &.hidden {
        width: 0;
        padding: 0;

        @media (min-width: 768px) {
            width: 45px;
            padding: 0 10px 5px;
        }

        .development-info {
            display: none;
        }

        .developer-info {
            padding: 0;
            width: auto;
            justify-content: center;
            margin-right: 0;

            & > span {
                display: none;
            }

            .toggle-btn {
                width: 35px;
                height: 35px;
            }
        }

        .link {
            padding: 0;
            aspect-ratio: 1;
            border-radius: 50%;
            border-left: 0 solid transparent;
            display: flex;
            align-items: center;
            justify-content: center;

            span.link-text {
                display: none;
            }

            &:hover:not(.disable),
            &.router-link-exact-active:not(.disable) {
                border-radius: 4px;
            }
        }
    }
}

</style>
