<template>
    <nav class="top-navbar">
        <div class="left-box">
            <div class="logo">
                <router-link :to="{ name: 'Home' }">
                    Rugoh
                </router-link>
            </div>
            <button @click="toggleMenu" class="toggle-menu">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </nav>
</template>
<script>
import SunIcon from "vue-material-design-icons/WeatherSunny.vue"
import MoonIcon from "vue-material-design-icons/MoonWaxingCrescent.vue"
import {mapGetters} from "vuex";

export default {
    components: {
        SunIcon,
        MoonIcon,
    },
    computed: {
        ...mapGetters({
            sidebarIsClose: 'sidebarIsClose',
        }),
    },
    methods: {
        toggleMenu() {
            this.$store.dispatch('sidebarIsClose', this.sidebarIsClose = !this.sidebarIsClose);
        },
    }
}
</script>
<style lang="scss" scoped>
.top-navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    background-color: var(--secondary-background-color);
    transition: background-color .2s;
    padding: 15px;
    box-shadow: 0 0 1px rgba(0,0,0,.5), 0 0 3px rgba(0,0,0,.3), 0 0 5px rgba(0,0,0,.1);

    @media (min-width: 768px) {
        position: fixed;
        top: 0;
        padding: 18px 15px;
    }

    .left-box {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo a {
        color: var(--text-color);
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        user-select: none;
    }

    .toggle-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4px;
        padding: 5px;

        @media (min-width: 768px) {
            display: none;
        }

        span {
            height: 3px;
            width: 30px;
            background-color: var(--text-color);
        }
    }

}
</style>
